body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #1c1c1c;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin-left: auto;
    border: 4px solid inset black
}

footer {
    font-size: small;
    display: block;
    color: #eeeeee;
}